.App {
  display: flex;
  justify-content: center;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  width: 390px;
  height: 844px;
  margin: 0 auto;
}
